/***************************
****************************
CONTAINERS
****************************
***************************/

html, body, main {

    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-weight: bold;
    line-height: 1.5;
    color: #74738a;
    font-family: monospace;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

main {
    display: none;
}

main.active {
    display: block;
}

header{

    padding: 0 1em 0.15em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: inline;
    padding-bottom: 1em;
}



.theme {
    color: white;
    text-shadow: rgba(0, 0, 0, 0.11) 1px 1px 3px;
    background: linear-gradient(240deg, #b2d8ec, #c9e1e6) no-repeat;
}

[switch] input:checked{

    background: linear-gradient(240deg, #b2ecdd, #c9e1e6) no-repeat;
    background-size: contain;
}


.modal {

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.show-creator-modal #create-message-modal,
.show-updater-modal .update-message-modal,
.show-notification-modal #notification-modal {
    display: block;
}

.modal .wrapper{

    margin-top: 5em;
    animation: enter 400ms;
}

nav{

    height: 14em;
    margin-bottom: -10em;
}

/***************************
****************************
HEADER
****************************
***************************/

nav {

    padding-bottom: 1em;
}

nav div {
    height: 4em;
    padding: 0 1em;
}

#title {

    margin: 0 auto;
    float: left;
    clear: both;
    text-align: center;
    padding: 0.45em 0 0;
    font-size: 2em;
}

/***************************
****************************
LIST
****************************
***************************/

ul, li {
    all: unset;
}

ul {
    display: block;
    animation: enter 500ms;
    padding-bottom: 7em;
}

@keyframes enter {

    from {
        transform: translate3d(0, 5em, 0);
    }
}

#home-page-scroll {

    height: calc(100% - 5em);
    width: 100%;
    scroll-behavior: auto;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card {

    display: block;
    box-sizing: border-box;
    padding: 1.25em;
    border-radius: 2.15em;
    background-color: white;
    box-shadow: rgba(152, 174, 183, 0.16) 0 16px 40px 4px;
    width: calc(100% - 2em);
    margin: 1em auto 2.5em;
    max-width: 400px;
}

.card .card{

    width: 100%;
}

.card.inset {
    box-shadow: inset rgba(152, 174, 183, 0.16) 0 6px 40px -8px;
}

/***************************
****************************
MESSAGE
****************************
***************************/


.message-by {

    font-size: 1.25em;
}

.message-type {

    font-size: 0.9em;
    padding: 2em 0 1em;
    color: #AED581;
}

.message-type:before {

    content: "";
    height: 6px;
    width: 6px;
    margin-right: 7px;
    background: currentColor;
    border-radius: 1em;
    display: inline-block;
}

.message-text {

}

.toolbar {
    padding: 1em;
    box-sizing: border-box;
}

/***************************
****************************
FORM
****************************
***************************/

#search-bar {

    padding-bottom: 1em;
    width: calc(100% - 2em);
    margin: auto;
}

textarea {

    all: unset;
    box-sizing: border-box;
    color: inherit;
    width: 100%;
    height: inherit;
    max-height: inherit;
    transition: ease-out 0.3s;
    font-size: 1.2em;
}

input {

    all: unset;
    width: 100%;
    height: 100%;
    display: block;
    transform: translate3d(0, 0, 0);
}

::placeholder {

    color: inherit;
    opacity: 0.8;
}

.text-field {

    display: block;
    align-items: center;
    background: white;
    border-radius: 2em;
    min-height: 3.2em;
    line-height: 3.1;
    white-space: nowrap;
    padding: 0.25em 0.75em 0.25em 1em;
    box-sizing: border-box;
    margin: 1em auto;
    max-width: 400px;
    box-shadow: inset rgba(0, 0, 0, 0.04) 0 4px 12px 4px;
    z-index: 0;
    position: relative;
}

.text-field input {

    height: 100%;
    color: #74738a;
    transition: ease 300ms;
    padding: 0 0.5em 0 0.5em;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 3.5em);
}

.text-field button + input {

    margin-right: 0;
    margin-left: 1em;
}

.card .text-field {

    width: 100%;
}

/***************************
****************************
switch
****************************
***************************/


.switch {

    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 1.8em;
    width: 3.4em;
    vertical-align: middle;
    margin-right: 1em;
    border-radius: 3em;
    box-shadow: inset rgba(0, 0, 0, 0.04) 0 4px 12px 4px;
}

.switch input {

    border-radius: inherit;
    transition: 0.2s ease-out;
}

.switch span{
    position: absolute;
    right: -9.5em;
    top: 0;
    color: #c1c1c1;
}

.switch input:after {

    content: "";
    left: 0;
    width: 1.2em;
    z-index: 4;
    height: 1.2em;
    position: absolute;
    border-radius: 2em;
    border: none;
    background: #d9dde5;
    margin: 0.3em 0.5em;
    transition: inherit;
    transform: translate3d(0, 0, 0);
}

.switch input:checked{

    color: white !important;
    box-shadow: rgba(139, 195, 74, 0.32) 0 2px 24px 1px;
    background: #AED581;
}

.switch input:checked + span{

    color: #AED581;
}

.switch input:checked:after {

    background: white;
    left: 1.25em;
}

/***************************
****************************
BUTTONS
****************************
***************************/


button {

    all: unset;
    width: fit-content;
    height: auto;
    background: none;
    outline: none;
    border: none;
    flex: none;
    cursor: pointer;
    line-height: 1.5;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transition: 0.35s ease-out;
    box-shadow: rgba(162, 171, 187, 0.22) 0 2px 8px 1px;
}

button:active {

    box-shadow: none !important;
}

#show-login-page{

    color: rgba(158, 158, 158, 0.68);
    box-shadow: none;
    text-decoration: underline;
}

#logout-button {

    float: right;
    margin: 1.5em 0;
    width: auto;
    background: white;
    border-radius: 3em;
    padding: 0.5em 1em;
    color: #b9d5e8;
    text-shadow: none;
}

.icon {

    height: 2.5em;
    width: 2.5em;
    margin-right: 1em;
    border-radius: 12px;
}

.icon:before {

    content: "";
    height: inherit;
    width: inherit;
    display: inline-block;
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.search-messages{
    border-radius: 3em;
}

.search-messages:before {
    background-image: url("icons/i-search.png");
}

.update-message:before {
    background-image: url("icons/i-pen.png");
}

.delete-message:before {
    background-image: url("icons/i-delete.png");
}

.action-button {

    width: 11em;
    display: block;
    margin: 1.5em auto 0.5em;
    font-size: 1.2em;
    padding: 0.75em 1em;
    color: #ffffff;
    border-radius: 100px;
}